* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper { 
    width: 600px;   
    background: #00bd39;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
