.container-card {
    width: calc(25% - 30px);
    height: 55vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.itemPictureCard {
    width: 80%;
    aspect-ratio: 1/1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.itemNameCard, .itemPriceCard{
    width: 90%;
    margin-left: auto;
    color: #f2f2f2;
}